* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.background {
  background-color: rgba(255, 255, 255, 0.858);
  z-index: -1;
}

.nav {
  opacity: 0.85;
}

.about {
  margin-top: 15px !important;
  margin-bottom: 5% !important;
  text-align: justify;
}

.galleryHome {
  /* margin-top: 12% !important; */
  /* column-gap: 40px;
  padding: 2px; */
  width: 100vw !important;
  
}

.galleryBottom {
margin-top: 10px !important;
}

.home {
  margin-top: 10% !important;
  height: 80vh !important;
}

div img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html {
  width: 100vw;
  height: 100%;
}

.video-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.dml {
  color: rgb(100, 3, 3) !important;
  padding: 2px;
  text-shadow: 1px 1px white;
}

.footer {
  background-color: rgba(229, 228, 228, 0.863) !important;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px 20px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
