* {
  box-sizing: border-box;
}

body {
  /* width: 100vw;
  height: 100%; */

  width: 100vw;
  height: 100vh;
  position: relative;
  
}

.about {
  margin-top: 10px !important;
  
}

.galleryHome {
  margin-top: 5% !important ;

  padding: 2px;
}
.home {
  margin-top: 10% !important ;
  height: 80vh !important;
}


div img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html {
  width: 100vw;
  height: 100%;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}

.dml {
  color: rgb(100, 3, 3) !important;
  padding: 2px;
  text-shadow: 1px 1px white;
  border-style: solid;
  border-color: white;
  outline: white;
  
}

.footer {
  color: white !important;
}

